body{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #252830;
  background-color: #E0CDA9;
  padding: 100px 0;
}
.main-title {
  border-bottom: 3px solid #252830;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-weight: lighter;
}
h2, h3 {
  font-weight: lighter;
}
.aright {
  text-align: right;
}
.aleft {
  text-align: left;
}
footer {
  padding: 15px;
  margin: 15px 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #434857;
    background-image: none;
    border: 1px solid #434857;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fm {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 9px 10px;
    color: #b7bcc8;
    border: 0;
    line-height: 0;
    background-color: transparent;
}
.list {
  margin: 15px 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 7px 15px;
    text-decoration: none;
    color: #252830;
    border-radius: 5px;
    margin-top: 5px;
}
.add-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 15px;
  border-radius: 100px;
  background-color: #337ab7;
  color: #252830;
  width: 50px;
  height: 50px;
  -moz-box-shadow: 2px 2px 10px 0px #000000;
  -webkit-box-shadow: 2px 2px 10px 0px #000000;
  -o-box-shadow: 2px 2px 10px 0px #000000;
  box-shadow: 2px 2px 10px 0px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=10);
  z-index: 10000;
}
.add-btn i {
  position: absolute;
  top:18px;
  left:18px;
}
.nav > li > a.active {
  color: #fff;
  background-color: #337ab7;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #434857;
    color: #cfd2da;
}
.anv {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.anx {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}
.anv::after {
    margin: 0 -55% 0 5%;
}
.anv::after, .anv::before {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 10%;
  height: 16px;
  border-bottom: 1px solid #252830;
  margin: 0 -3% 0 -3%;
}
.anw {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    /*color: #fff;*/
    vertical-align: middle;
    background-color: transparent;
}
.anv {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.apn {
    color: #1997c6;
    background-color: transparent;
    border-color: #1997c6;
}
.ame {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.ce {
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
}

.ce {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #1997c6;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}
.ce:hover {
  color: #fff;
  background-color: #1997c6;
  text-decoration: none;
}
.acenter {
  text-align: center;
}
.modal{
  z-index:12000;
}
.modal a:hover,
.modal {
  color: #666;
}
.modal .form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #666;
}
.clear {
  margin-bottom: 10px;
}
.main h2 {
  text-transform: uppercase;
  text-align: center;
}
.fleft {
  float: right;
  margin-top:5px;
}
.list ul {
  padding-left: 0;
}
.list ul li {
  margin: 5px 0;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  list-style: none;
}
.btn-primary {
  background-color: #337ab7;
  font-weight: lighter;
  color: #fff;
}
.text-right {
  text-align: right;
}
.player {
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100%;
  background-color: transparent;
  z-index: 10000;
}
.player a:nth-child(1) {
  top: 10px;
  right: 10px;
  z-index: 999;
  width: 40px;
  height: 40px;
}
.player a:nth-child(2) {
  top: 6px;
  right: 46px;
  z-index: 1000;
  width: 50px;
  height: 50px;
}
.player a:nth-child(3) {
  top: 10px;
  right: 90px;
  z-index: 999;
  width: 40px;
  height: 40px;
}
.player a:nth-child(4) {
  top: 10px;
  right: 130px;
  z-index: 998;
  width: 40px;
  height: 40px;
}
.player a {
  position: absolute;
  border-radius: 50px;
  color: #252830;
  background-color: #337ab7;
  -moz-box-shadow: 2px 2px 10px 0px #000000;
  -webkit-box-shadow: 2px 2px 10px 0px #000000;
  -o-box-shadow: 2px 2px 10px 0px #000000;
  box-shadow: 2px 2px 10px 0px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=10);
  z-index: 10000;
}
.player a:nth-child(1) i,
.player a:nth-child(3) i,
.player a:nth-child(4) i {
  position: absolute;
  top: 13px;
  left: 14px;
}
div.playlist {
  position: fixed;
  top: -200px;
  right: 0;
  left: 0;
  display: block;
  z-index:100000;
  background-color: #434857;
  color: #fff;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  /*webkit-transition: all 2s;
  transition: all 2s;*/
}
div.playlist.animated{
  animation-name: up_and_down;
	animation-duration: 7s;
	animation-iteration-count: 1;
}
@keyframes up_and_down {
	0% { top: -200px; }
  20% { top: 100px; }
	70% { top: 100px; }
	100% { top: -200px; }
}
.player div.playlist div {
  width: 100%;
  padding: 5px;
  margin: 0;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  /*font-size: 12px;*/
  /*white-space: nowrap;*/
}
.playlist #message ul {
  text-align: left;
}
.player a:nth-child(2) i {
  position: absolute;
  top: 17px;
  left: 19px;
}
@media (max-width: 545px) {
  .main {
    margin-top: 20px;
    border-top: 4px solid #000;
  }
  .main h2 {
    margin-top:.5rem;
  }
}
.highlight {
    padding: 9px 14px;
    margin: 14px 0;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  padding:10px;
}
