body{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #cfd2da;
  background-color: #252830;
  padding: 50px 0;
}
.main-title {
  border-bottom: 3px solid #fff;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-weight: lighter;
}
h2, h3 {
  font-weight: lighter;
}
.aright {
  text-align: right;
}
.aleft {
  text-align: left;
}
footer {
  padding: 15px;
  margin: 15px 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #434857;
    background-image: none;
    border: 1px solid #434857;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fm {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 9px 10px;
    color: #b7bcc8;
    border: 0;
    line-height: 0;
    background-color: transparent;
}
.list {
  margin: 15px 0;
}
a {
  color: #1ca8dd;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 7px 15px;
    text-decoration: none;
    color: #cfd2da;
    border-radius: 5px;
    margin-top: 5px;
}
.add-btn {
  position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 15px;
    border-radius: 100px;
    background-color: #1ca8dd;
    color: #252830;
    width: 50px;
    height: 50px;
    -moz-box-shadow: 2px 2px 10px 0px #000000;
-webkit-box-shadow: 2px 2px 10px 0px #000000;
-o-box-shadow: 2px 2px 10px 0px #000000;
box-shadow: 2px 2px 10px 0px #000000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=10);
}
.add-btn i {
  position: absolute;
  top:18px;
  left:18px;
}
.nav > li > a.active {
  color: #252830;
  background-color: #1ca8dd;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #434857;
    color: #cfd2da;
}
anv {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.anv:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #434857;
}
.anx {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}
.anw {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    vertical-align: middle;
    background-color: #252830;
}
.anv {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.apn {
    color: #1997c6;
    background-color: transparent;
    border-color: #1997c6;
}
.ame {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.ce {
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
}

.ce {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #1997c6;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}
.ce:hover {
  color: #fff;
  background-color: #1997c6;
  text-decoration: none;
}
.acenter {
  text-align: center;
}
.modal a:hover,
.modal {
  color: #666;
}
.modal .form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #666;
}
.clear {
  margin-bottom: 10px;
}
.main h2 {
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 768px) {
  .main {
    margin-top: 20px;
    border-top: 4px solid #000;
  }
  .main h2 {
    margin-top:.5rem;
  }
}
