<div class="mainartist" ng-controller="ArtistDetailCtrl">
  <h2>{{artist.name}}</h2>
  <div class="clear"></div>
  <div class="anv alg ala">
    <h3 class="anw anx">Morceaux</h3>
  </div>
  <div class="clear"></div>
  <div class="list">
  </div>
  <div class="clear"></div>

  <a href="#" class="add-btn" data-toggle="modal" data-target="#addArtistsModal"><i class="fa fa-plus" aria-hidden="true"></i></a>

  <!-- Modal -->
  <div class="modal fade" id="addArtistsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Ajouter des morceaux</h4>
        </div>
        <div class="modal-body">
          <input type="file" multiple />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="saveArtist()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
