<div class="mainartist" ng-controller="ArtistCtrl">
  <h2>Artistes</h2>
  <div class="clear"></div>
  <div class="anv alg ala">
    <h3 class="anw anx">Liste</h3>
  </div>
  <div class="clear"></div>
  <div class="list">
    <ul>
    <li ng-repeat="artist in artists" class="artist-list">
      <a href="artist/{* artist._id *}">{* artist.name *}</a><a href="#" class="fleft" ng-click="deleteArtist( artist._id )"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
    </li>
  </ul>
  </div>
  <div class="clear"></div>

  <a href="#" class="add-btn" data-toggle="modal" data-target="#addArtistsModal"><i class="fa fa-plus" aria-hidden="true"></i></a>

  <!-- Modal -->
  <div class="modal fade" id="addArtistsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Ajouter un artiste</h4>
        </div>
        <div class="modal-body">
          <input type="text" name="artistName" class="form-control" placeholder="artist name" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="saveArtist()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
