<html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Media center app</title>
      <meta name="HandheldFriendly" content="True" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css" href="{{asset 'css/bootstrap.min.css'}}"></link>
      <link rel="stylesheet" type="text/css" href="{{asset 'css/main.css'}}"></link>
      <link rel="stylesheet" type="text/css" href="{{asset 'font-awesome/css/font-awesome.min.css'}}"></link>
      <link rel="stylesheet" type="text/css" href="{{asset 'css/loading-bar.css'}}"></link>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'></link>
      <link rel="shortcut icon" href="{{asset 'images/icons/favicon.ico'}}" type="image/x-icon"></link>
      <link rel="apple-touch-icon" href="{{asset 'images/icons/apple-touch-icon.png'}}"></link>
      <link rel="apple-touch-icon" sizes="57x57" href="{{asset 'images/icons/apple-touch-icon-57x57.png'}}"></link>
      <link rel="apple-touch-icon" sizes="72x72" href="{{asset 'images/icons/apple-touch-icon-72x72.png'}}"></link>
      <link rel="apple-touch-icon" sizes="76x76" href="{{asset 'images/icons/apple-touch-icon-76x76.png'}}"></link>
      <link rel="apple-touch-icon" sizes="114x114" href="{{asset 'images/icons/apple-touch-icon-114x114.png'}}"></link>
      <link rel="apple-touch-icon" sizes="120x120" href="{{asset 'images/icons/apple-touch-icon-120x120.png'}}"></link>
      <link rel="apple-touch-icon" sizes="144x144" href="{{asset 'images/icons/apple-touch-icon-144x144.png'}}"></link>
      <link rel="apple-touch-icon" sizes="152x152" href="{{asset 'images/icons/apple-touch-icon-152x152.png'}}"></link>
      <link rel="apple-touch-icon" sizes="180x180" href="{{asset 'images/icons/apple-touch-icon-180x180.png'}}"></link>
      <script type="text/javascript" src="{{asset 'js/jquery-3.1.0.min.js'}}"></script>
      <script type="text/javascript" src="{{asset 'js/bootstrap.min.js'}}"></script>
      <script type="text/javascript" src="{{asset 'js/angular.min.js'}}"></script>
      <script type="text/javascript" src="{{asset 'js/angular-route.min.js'}}"></script>
      <script type="text/javascript" src="{{asset 'js/angular-local-storage.min.js'}}"></script>
      <script type="text/javascript" src="{{asset 'js/angular-touch.js'}}"></script>
    </head>
    <body ng-app="mediaCenter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 acenter">
            <h1 class="main-title"><i class="fa fa-headphones" aria-hidden="true"></i> Media center</h1>
            <div class="clear"></div>
          </div>
        </div>
        <div class="row" ng-controller="MenuCtrl">
          <div class="col-sm-4">
            <div>
              <!--form class="aor">
                <input class="form-control" type="text" placeholder="Search...">
                <button type="submit" class="fm">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form-->
              <ul class="nav of nav-stacked">
                <li>
                  <a href="#/" ng-class="getClass('/')">Home</a>
                </li>
                <li>
                  <a href="#artists" ng-class="getClass('/artists')">Artistes</a>
                </li>
                <li>
                  <a href="#youtube" ng-class="getClass('/youtube')">Youtube</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="main col-sm-8" ng-view>
          </div>
        </div>
      </div>
      <div ng-controller="PlayerCtrl" class="player-ctrl">
        <div class="player">
          <a href="" ng-click="next();"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
          <a href="" ng-click="play();"><i class="fa fa-play" aria-hidden="true"></i></a>
          <a href="" ng-click="stop();"><i class="fa fa-stop" aria-hidden="true"></i></a>
          <a href="" ng-click="list();"><i class="fa fa-list" aria-hidden="true"></i></a>
        </div>
      </div>
      <hr class="rw aky">
      <footer>
        <div class="row">
          <div class="col-sm-12 aright">
            <a href="https://twitter.com/phabos1" target="_blank">@made with love by phabos</a>
          </div>
        </div>
      </footer>
      <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="{{asset 'js/main.js'}}"></script>
      <script type="text/javascript" src="{{asset 'js/loading-bar.js'}}"></script>
      <script type="text/javascript" src="{{asset 'js/angular-custom.js'}}"></script>
    </body>
</html>
